.add-icon {
    color: rgb(7, 190, 7);
    font-size: 50px;
    
}
.fix-but {
        background-color: rgb(224, 153, 0);
        font-size: 20px;
        padding: 5px;
        width: 120px;
        margin: auto;
        border-radius: 20px;
        border: 1px solid rgb(141, 140, 140);
}
.detail-admin-but {
        background-color: rgb(71, 199, 20);
        font-size: 20px;
        padding: 5px;
        width: 120px;
        margin: auto;
        border-radius: 20px;
        border: 1px solid rgb(141, 140, 140);
}
.openclose-table-but {
    background-color: rgb(20, 32, 199);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid rgb(141, 140, 140);
}
.delettable-but {
    background-color: rgb(207, 29, 38);
    font-size: 20px;
    padding: 5px;
    width: 120px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid rgb(141, 140, 140);
}
.openclose-manu-but {
    background-color: rgb(20, 32, 199);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid rgb(141, 140, 140);
}
.fix-manu-but {
    background-color: rgb(223, 149, 12);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid rgb(141, 140, 140);
}
.deletemployee-but {
    background-color: rgb(196, 0, 0);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
        
}
.font-35 {
    font-size: 35px;
}
.confirm-but {
    background-color: rgb(20, 32, 199);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    border-radius: 20px;
    margin: auto;
    border: 1px solid rgb(141, 140, 140);
}
.deletfixtable-but {
    background-color: rgb(201, 4, 4);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(141, 140, 140);
}

.sdsd {
    padding-left: 500px;
    
}

.employeefix-but {
    background-color: rgb(199, 142, 20);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(141, 140, 140);
}
