.nav-b {
    background-color: rgb(0, 0, 0);
}
.text-g {
    color: rgb(112, 112, 112);
}
.detail-but {
    background-color: rgb(0, 196, 26);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
        
}
.print-but {
    background-color: rgb(218, 141, 0);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    
    margin: auto;
    border-radius: 20px;
        
}
.input-seach {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.527);
}
.line-g {
    height: 2px !important;
    opacity: 100 ;
    color: rgb(182, 182, 182);
    margin-bottom: 0;

}
.printagain-but {
    background-color: rgb(219, 150, 0);
    font-size: 20px;
    padding: 5px;
    width: 200px;
    margin: auto;
    border-radius: 20px;
    
    border : 1px solid rgb(138, 138, 138);
        
}
.font-50 {
    font-size: 50px;
}
.font-25 {
    font-size: 25px;
}
.margin-bot {
    margin-bottom: 10px;
}
.bgc-login {
    
    
}
.login {
    width: 500px;
    height:400px;
    background-color: rgba(255, 255, 255, 0.699);
    margin: auto;
    margin-top:150px;
    margin-bottom:150px;
}
.input-username {
    background-color: rgb(255, 255, 255);
    border :1px solid rgba(0, 0, 0, 0.322);
    width: 400px;
    height: 50px;
    font-size: 25px;
}
.input-password {
    background-color: rgb(255, 255, 255);
    border :1px solid rgba(0, 0, 0, 0.322);
    width: 400px;
    height: 50px;
    font-size: 25px;
}
.login-but {
    background-color: rgb(0, 88, 219);
    font-size: 20px;
    padding: 10px;
    width: 300px;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
    font-size: 30px;
           
}

.link {
    text-decoration: none !important;
}

.link:hover {
    color :white;
}
.mt-32 {
    margin-top: 32px;
}
.openclose-but {
    background-color: rgb(20, 32, 199);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
}

.zzzborder {
    border:1px solid rgb(107, 106, 106);
}

.detailtable-but {
    background-color: rgb(29, 207, 38);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
}
.photo-size {
    background-color: rgb(224, 126, 126);
    width: 150px;
    height: 150px;
    margin: auto;
}
.pay-but {
    background-color: rgb(24, 189, 9);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    margin: auto;
    border-radius: 12px;
    border : 1px solid rgb(138, 138, 138);
        
}
.mt-500 {
    margin-top: 500px;
}
.ml-650 {
    margin-left: 650px;
}


